# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Usare sempre
        host_name               afisGateway
        alias                   afisGateway
        address                 10.0.255.74
        contacts		lrampiconi,csalciccia
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
  use                  generic-service
  host_name            afisGateway
  service_description  Spazio Disco Totale
  check_command        check_all_disks_plus!20%!10%
}

define service {
        use 				generic-service
        host_name                       afisGateway
	service_description             Carico Sistema
	normal_check_interval           2
	check_command			ssh_load!3.0!3.0!3.0!5.0!5.0!5.0
}

define service{
        use                             disk-space-by-ssh
        host_name                       afisGateway
        service_description             Spazio libero / 
        check_command			ssh_disk!15%!10%!/ 
        } 

define service{
        use                             disk-space-by-ssh
        host_name                       afisGateway
        service_description             Spazio libero /home 
        check_command			ssh_disk!15%!10%!/home
        } 
