# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Usare sempre
        host_name               sapblade02
        alias                   sapblade02
        address                 10.0.255.123
        contacts		azecca,apiccio
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
	use 				disk-space-ssh-sap
        host_name           		sapblade02
        check_command			ssh_disk_sap!15%!5%!/db2/PMN/sapdata1!/db2/PMN/sapdata2!/db2/PMN/sapdata3!/db2/PMN/sapdata4 
        } 

define service{
	use 				disk-space-by-ssh
        host_name           		sapblade02
        service_description             Spazio libero / 
        check_command			ssh_disk!15%!10%!/ 
        }
 
define service{
	use 				disk-space-by-ssh
        host_name           		sapblade02
        service_description             Spazio libero /db2/BACKUP 
        check_command			ssh_disk!15%!10%!/db2/BACKUP 
        }
